
@font-face {
    font-family: estilodefuente;
    src: url(Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background-image: url("Images/fondo.jpg") ;
    margin: auto;
    max-width: 1000vh;
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "header header   header"
    " .     main       ." 
    " .     main       .  "
    " .     main       .  " 
    "footer footer  footer"
    ;
    grid-template-rows: 100px auto auto auto 100px;
    grid-template-columns: 50px auto 100px;
}


header {
    grid-area: header;
}



/*HEADER*/

.logo {
    width: 100%;
    height: auto;
    flex-basis: 20%;
}

.container-header {
    font-family: estilodefuente;
    display: flex;
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}

main {
    grid-area: main;
}

.sections {
    width: 75%;
    display: flex;
    list-style: none;
    justify-content: space-between;


/* SECTION*/

}
.section1 {
    width: 80%;
    display: flex;
    font-family: estilodefuente;
    padding: 3rem;
    margin-left: 10%;
}

.primerafoto {
    width: 50%;
    box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    -webkit-box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    -moz-box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    border-radius: 10%;

}
.texto1 {
    text-align: left;
    margin: 20px;
    font-size: 20px;
    padding: 3rem;
}

.section2{
    font-family: estilodefuente;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem;
    margin-right: 50%;

}

.segundafoto{
    width: 30%;
    box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    -webkit-box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    -moz-box-shadow: 16px 17px 22px -5px rgba(0,0,0,0.68);
    border-radius: 10%;
}
.texto2 {
    text-align: left;
    margin: 20px;
    font-size: 20px;
    padding: 3rem;
    
}


.section3 {
    width: 90%;
    margin: 50px auto;
    display: grid;
    border: 3px white solid;
    grid-template-columns: 400px 400px 400px;
    text-align: left;
    gap: 10px;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}



.Item1 {
    background-color: rgb(151, 129, 5);
    color: white;
    font-size: 25px;
    border: 3px white solid;
}

.Item2{
    background-color: gray;
    color: white;
    font-size: 25px;
    border: 3px white solid;
}

.Item3{
    background-color: rgb(139, 69, 19);
    color: white;
    font-size: 25px;
    border: 3px white solid;
}

ul{
    list-style: none;
}





/* FOOTER */

footer {
    padding-bottom: 20px;
    font-family: estilodefuente;
    grid-area: footer;
    position: relative;
    color: white;
    margin-top: 50px;
    background-position: center;
}


.container {
    background-color: #05c5b5;
    min-width: 100%;
}


.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 120px;
}

.copyrigth {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/*CONÓCENOS*/

.gridcontainer {
    background-image: url("Images/fondo.jpg") ;
    margin: auto;
    max-width: 1000vh;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header   header"
    " .     section     .  " 
    " .     section     .  "
    "footer footer  footer"
    ;
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 100px auto 100px;
}


section {
    grid-area: section;
}




h3 {
    font-family: estilodefuente;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.conocenos {
    font-family: estilodefuente;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.service{
    font-family: estilodefuente;
    margin-bottom: 100px;
}
footer{
    background-color: #6fcfc7;
}


/* CONTACTO*/

.container-contacto {
    background-image: url("Images/fondo.jpg") ;
    max-width: 1000vh;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header   header"
    " .     section     .  " 
    " .     section     .  "
    "footer footer   footer"
    ;
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 30px auto 30px;
}





h4{
    font-family: estilodefuente;
    font-size: 50px;
    margin-top: 60px;
}
.textcontacto {
    font-family: estilodefuente;
    font-size: 20px;
}
.speaker-form {
    font-family: estilodefuente;
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="name"],
.form-row input[type="apellido"]
.form-row input[type="email"] {
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
    padding: 7%;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

.form-row textarea {
    font-size: 14px;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 200px;
    width: 100%;
    resize: none;

}
.form-row .instructions {
    color: #999;
    margin-bottom: 30px;
    font-size: 14px;
}


.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #5995da;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}

/* PRODUCTOS */

.productos {
    background-image: url("Images/fondo.jpg") ;
    margin: auto;
    max-width: 1000vh;
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "header header   header"
    " .     section     .  "
    " .     section     .  " 
    "footer footer  footer"
    ;
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 50px auto 100px;
}