
/*CONÓCENOS*/


.body1 {
    background-image: url("../../Images/fondo.jpg"); 
    margin: auto;
    width: 100%;
    min-height: 100vh;
}

.header-conocenos {
    &::before {
        content: '';
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
}


.info-conocenos {
    position: absolute;
    width: 100%;

}

@media (min-width: 768px){
    .info-conocenos {
        background-color: transparent!important;
    }
}

.navg {
    color: #f4f4f4;
    font-family: $fuente-montserrat ;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.navg {
    a {
        &:hover {
            background-color: #AF33FF;
        }
    }
}


h3 {
    font-family: $fuente-montserrat;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.conocenos {
    font-family: $fuente-antonio;
    text-align: center;
    font-size: 20px;
    margin: 0 10% 50px;
}

.service{
    font-family: $fuente-antonio;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row row-cols-1 row-cols-sm-2 g-3 {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #6fcfc7;
}


